django-environ
django~=4.2
psycopg[c]
djangorestframework
django-cors-headers
django-helusers
djangorestframework-gis
django-munigeo
django-parler
django-parler-rest
django-filter
helsinki-profile-gdpr-api
holidays
django-ilmoitin
factory_boy
ipython
sentry-sdk
drf-oidc-auth
uwsgi
pytz
requests
python-dateutil
