django-cors-headers
django-environ
django-filter
django-helusers
django-ilmoitin
django-logger-extra@https://github.com/City-of-Helsinki/django-logger-extra/archive/refs/tags/v0.1.0.zip
django-munigeo
django-parler
django-parler-rest
djangorestframework
djangorestframework-gis
django~=5.2
drf-oidc-auth
factory_boy
helsinki-profile-gdpr-api
holidays
ipython
psycopg[c]
pytz
requests
sentry-sdk
uwsgi
